# ===========================================
# CONFIGURACIÓN DE DJANGO
# ===========================================

DEBUG=False
SECRET_KEY='YOUR SECRET KEY HERE'
ALLOWED_HOSTS=*

TIME_ZONE=
LANGUAGE_CODE=

# ===========================================
# CONFIGURACIÓN DE MARIADB
# ===========================================

MYSQL_ROOT_PASSWORD=your_root_password
MYSQL_DATABASE=your_database_name
MYSQL_USER=your_mysql_user
MYSQL_PASSWORD=your_mysql_password

MYSQL_HOST=your_database_name
MYSQL_PORT=3306

# ===========================================
# PAYPAL
# ===========================================

PAYPAL_CLIENT_ID=YOUR PAYPAL CLIENT ID HERE
PAYPAL_SECRET=YOUR PAYPAL SECRET HERE
PAYPAL_MODO=live o sandbox

# ===========================================
# OPCIONAL
# ===========================================

LOG_LEVEL=INFO