# Requerimientos para el proyecto Mochi Matcha

# Framework principal
Django==5.0.2

# Conexión con MariaDB/MySQL
mysqlclient==2.2.4

# Manejo de variables de entorno
python-decouple==3.8

# (Opcional pero recomendado)
# Para futuras APIs
djangorestframework==3.14.0

# (Opcional) Para logs y manejo de configuración
dj-database-url==2.1.0

# Generador de Qr codes para el menú digital
qrcode[pil]==7.4.2